import { Wrapper{{pascalCase name}} } from './styles'

const {{pascalCase name}} = () => (
  <Wrapper{{pascalCase name}}>
    <h1>{{pascalCase name}}</h1>
  </Wrapper{{pascalCase name}}>
)

export default {{pascalCase name}}
