import { Wrapper{{pascalCase name}} } from './{{dashCase name}}.styles'

export { default as {{pascalCase name}}Skeleton } from './{{dashCase name}}.skeleton'

const {{pascalCase name}} = () => (
  <Wrapper{{pascalCase name}}>
    <h1>{{pascalCase name}}</h1>
  </Wrapper{{pascalCase name}}>
)

export default {{pascalCase name}}
