import { Wrapper{{pascalCase name}} } from './{{dashCase name}}.styles'

const {{pascalCase name}}Skeleton = () => (
  <Wrapper{{pascalCase name}}>
    <h1 className="skeleton">{{pascalCase name}}</h1>
  </Wrapper{{pascalCase name}}>
)

export default {{pascalCase name}}Skeleton
